IMPORT_TOKEN=change-me
GITHUB_TOKEN=github_pat_change_me
GIT_USER_NAME=AutoStyllo Import Bot
GIT_USER_EMAIL=bot@autostyllobg.com.br
GITHUB_REPOSITORY=gabrielcano-git/autostyllobg.com.br
GIT_BRANCH=main
WP_USER=
WP_APP_PASSWORD=
WP_API_BASE=https://gabrielcanowp-djfpn.wpcomstaging.com/wp-json/wp/v2
